:root {
    --width: 300px;
    --width-negative: -300px;
    --width-2: 55px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: var(--c8);
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--c4);
    color: var(--c8);
    width: var(--width);
    height: 100vh;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    transform: translateX(var(--width-negative));
    transition: all 0.4s;
    scrollbar-width: none;
}

.navbar::-webkit-scrollbar {
    /* For unupdated browsers */
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    @keyframes navbarLoad {
        0% {
            width: var(--width);
        }

        100% {
            width: var(--width-2);
        }
    }

    .navbar {
        width: var(--width-2);
        padding: 0;
        overflow: hidden;
        transform: translateX(0);
        display: flex;
        justify-content: space-evenly;
        animation: navbarLoad 0.4s ease-in-out;
    }
}

@media screen and (min-width: 1024px) {
    .navbar {
        width: var(--width);
        justify-content: center;
        gap: 13vh;
        transform: translateX(0);
    }
}

.navbar--show {
    transform: translateX(0px);
    overflow: scroll;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar--show {
        width: var(--width);
        transition: all 0.4s;
    }
}

.navbar-logo {
    display: none;
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
    @keyframes imgLoad {
        0% {
            opacity: 0;
            height: 0;
            transform: scale(0);
            transform: translate(-50%, 0);
        }

        100% {
            opacity: 1;
            height: 15vh;
            transform: scale(1);
            transform: translate(-50%, 0);
        }
    }

    .navbar-logo {
        display: flex;
        position: absolute;
        top: 8vh;
        left: 50%;
        height: 15vh;
        max-width: 70%;
        border-radius: 50%;
        transform: translate(-50%, 0);
        transition: all 0.7s;
        animation: imgLoad 1s ease-in-out;
    }

    .navbar-logo--hidden>img {
        opacity: 0;
        height: 0;
        transform: scale(0);
        transition: all 0.7s;
    }
}

.toggle-menu {
    position: absolute;
    top: 0;
    left: var(--width);
    font-size: 1.5rem;
    z-index: 100;
    align-items: center;
    justify-content: center;
}

.toggle-menu:hover {
    cursor: pointer;
}

.toggle-menu__open {
    display: flex;
    margin: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
}

#toggle-menu__close {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .toggle-menu__open {
        opacity: 0;
        margin: 0;
        left: 0;
        height: 100vh;
        border-radius: 0;
    }
}

@media screen and (min-width: 1024px) {
    .toggle-menu {
        display: none;
    }
}

.navbar--show .toggle-menu {
    transform: translateX(-65px);
    top: 0;
}

.navbar--show .toggle-menu__open {
    display: none;
}

.navbar--show #toggle-menu__close {
    display: flex;
    margin-top: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
}

@media screen and (min-width: 1024px) {
    .navbar--show #toggle-menu__close {
        display: none;
    }
}

.main-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    transition: all 0.4s;
}

.main-menu>li {
    display: flex;
    font-size: 1.2rem;
}

.main-menu>li:hover {
    margin-left: .3rem;
    transition: all 0.2s;
}

.main-menu>li>a {
    width: 100%;
    padding: 1rem 1.5rem;
}

.main-menu>li>a>div {
    display: flex;
    align-items: center;
}

.main-menu>li>a>div>i {
    margin-right: 1.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main-menu a>div {
        transform: translateX(-5px);
        transition: transform 0.4s;
    }

    .navbar--show .main-menu a>div {
        transform: translateX(0);
        transition: transform 0.4s;
    }
}

@media screen and (min-width: 1024px) {
    .main-menu>li>a {
        width: 100%;
        padding: 1rem 2rem;
    }
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown-toggle {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.dropdown-arrow {
    margin-left: auto;
    margin-right: 0 !important;
    font-size: 1.5rem !important;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;
}

.rotated {
    transform: rotate(180deg);
}

.dropdown-list {
    width: 100%;
    margin-left: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.dropdown-list--show {
    max-height: 200px;
}

.dropdown-list--show-1 {
    max-height: 180px;
}

.dropdown-list ul {
    list-style: none;
}

.dropdown-list li:first-child {
    margin-top: 0.4rem;
}

.dropdown-list li {
    display: flex;
    text-align: end;
    margin-top: 0.8rem;
}

.dropdown-list li:last-child {
    margin-bottom: 0.8rem;
}

.dropdown-list a {
    font-size: 1.05rem;
    width: 100%;
    padding: 0.5rem 1rem;
    border-right: 3px solid var(--c8);
    margin: 0 1.95rem;
}

.dropdown-list a:hover {
    border-color: var(--c1);
    transition: all 0.3s;
}

@media screen and (min-width: 1024px) {
    .dropdown-list a {
        padding: 0.8rem 2rem;
        margin: 0 2.45rem;
    }
}

main {
    margin-left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    main {
        display: flex;
        flex-wrap: wrap;
        margin-left: var(--width-2);
    }
}

@media screen and (min-width: 1024px) {
    main {
        display: flex;
        flex-wrap: wrap;
        margin-left: var(--width);
    }
}